.create-todo {
  display: flex;
  position: relative;
}

.create-todo__input {
  width: 80%;
  margin-right: 8px;
}

.create-todo__input {
  width: 85%;
  margin-right: 8px;
}

.create-todo__button {
  height: 25px;
}

.create-todo__button-wrapper {
  margin-left: auto;
}