.App {
  /* background: linear-gradient(to bottom, var(--gray-700) 19.5%, var(--gray-600) 19.5%); */
  height: 100%;
  background-size: contain;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 calc(50% - 364px);
  margin: 0 8px;
}

header {
  width: 100%;
  margin-top: 72px;
  margin-bottom: 53px;
}

.header {
  height: 48px;
  font-size: 40px;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  color: var(--blue);
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
}

.header-logo {
  margin-right: 12px;
}

.header__purple {
  color: var(--purple-dark)
}

.header-bg {
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--gray-700);
}